<!DOCTYPE html>
<html>
<head>
	<title>AngularJS Tutorials - The Dot</title>
	<link rel="stylesheet" href="/public/vendor/bootstrap/3.1.1/css/bootstrap.css" />
	<script src="/public/vendor/angular/1.2.9/angular.js"></script>
	<script src="js/main.js"></script>
</head>
<body>
	<div ng-app="" style="margin:10px;">
		<input type="text" ng-model="data.message" />
		<h1>{{ data.message }}</h1>
		<div ng-controller="FirstCtrl">
			<input type="text" ng-model="data.message" />
			<h1>{{ data.message }}</h1>
		</div>
		<div ng-controller="SecondCtrl">
			<input type="text" ng-model="data.message" />
			<h1>{{ data.message }}</h1>
		</div>
	</div>
</body>
</html>